
// Moonshine
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/moonshine
// License:  https://github.com/jackryanoracoy/moonshine/blob/master/LICENSE.txt

/*--------------------------------------------------
  Bordered
--------------------------------------------------*/

.u-bordered {
  position: relative;
  border-width: $border-width;
  border-style: solid;
  border-color: $grey-200;

  &--hidden { border-style: hidden; }
  &--dashed { border-style: dashed; }
  &--dotted { border-style: dotted; }
  &--double { border-style: double; }
  &--groove { border-style: groove; }
  &--outset { border-style: outset; }
  &--inset { border-style: inset; }
  &--ridge { border-style: ridge; }
  &--solid { border-style: solid; }

  &--top { border-width: $border-width 0 0 0; }
  &--right { border-width: 0 0 0 $border-width; }
  &--bottom { border-width: 0 0 $border-width 0; }
  &--left { border-width: 0 $border-width 0 0; }
  &--ver { border-width: $border-width 0; }
  &--hor { border-width: 0 $border-width; }

  &--seq:last-of-type { border: none; }
}

