// Moonshine
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/moonshine
// License:  https://github.com/jackryanoracoy/moonshine/blob/master/LICENSE.txt

/*--------------------------------------------------
  Section
--------------------------------------------------*/

.l-section {
  padding-top: ($section-gutter-ver / 2);
  padding-bottom: ($section-gutter-ver / 2);
  padding-right: $section-gutter-hor;
  padding-left: $section-gutter-hor;

  &--padding-wide {
    padding-top: $section-gutter-ver;
    padding-bottom: $section-gutter-ver;
  }

  &--padding-narrow {
    padding-top: ($section-gutter-ver / 4);
    padding-bottom: ($section-gutter-ver / 4);
  }

  &--padding-no { padding: 0 !important; }

  @include media-breakpoint-min(xs) {
    padding-right: 0;
    padding-left: 0;
  }

  @include media-breakpoint-min(lg) {
    padding-top: $section-gutter-ver;
    padding-bottom: $section-gutter-ver;

    &--padding-wide {
      padding-top: ($section-gutter-ver * 2);
      padding-bottom: ($section-gutter-ver * 2);
    }

    &--padding-narrow {
      padding-top: ($section-gutter-ver / 2);
      padding-bottom: ($section-gutter-ver / 2);
    }
  }
}

